/* components/shared.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Balthazar&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.logo {
    height: 50px;
    border-radius: 50%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #7b2c31; /* CIT Maroon */
    color: white;
}

.main-header .logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-header .logo-container h1 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    color: white; 
    font-family: 'Balthazar', serif;
}

.nav-links {
    display: flex;
    gap: 45px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent; /* Hidden by default */
}

/* Active page underline (Yellow) */
.nav-links a.active {
    border-bottom: 3px solid #facc15;
}